@font-face {
	font-family: "SoraRegular";
	src: local("SoraRegular"), url("./fonts/Sora-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "SoraMedium";
	src: local("SoraMedium"), url("./fonts/Sora-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "SoraBold";
	src: local("SoraBold"), url("./fonts/Sora-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "SoraLight";
	src: local("SoraLight"), url("./fonts/Sora-Light.ttf") format("truetype");
}

body {
	font-family: SoraRegular;
	background-color: #1b1a28;
	color: #333333;
}

input {
	font-size: 0.875rem;
	font-family: SoraRegular !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.test {
	border: 1px solid red;
}

.flex-column {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.flex-row-center {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.flex-row-left {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
}

.flex-row-right {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.rounded {
	border-radius: 15px;
}

.full-page {
	min-height: 100vh;
}

.v-full {
	width: 100%;
}

.h-full {
	width: 100%;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.bg-white {
	background-color: #ffffff !important;
}

.text-xl {
	font-size: 1.5rem;
}

.text-lg {
	font-size: 1.125rem;
}

.text-md {
	font-size: 1rem;
}

.text-sm {
	font-size: 0.875rem;
}

.text-xs {
	font-size: 0.75rem;
}

.italic {
	font-style: italic;
}

.color-white {
	color: #ffffff !important;
}

.color-orange {
	color: orange !important;
}

.color-dark {
	color: #1b1a28 !important;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.opacity-5 {
	opacity: 0.5;
}

.MuiInputLabel-root:not(.MuiInputLabel-shrink) {
	font-size: 0.875rem !important;
}

.Mui-focused.MuiInputLabel-shrink,
.MuiOutlinedInput-notchedOutline > legend > span {
	color: #1b1a28 !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline,
.account-text .MuiOutlinedInput-notchedOutline {
	border-color: #1b1a28 !important;
}

.MuiButton-contained {
	height: 45px;
	font-size: 0.875rem !important;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.MuiButton-text {
	height: 45px;
	font-size: 0.75rem !important;
	font-weight: bold !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root.Mui-disabled {
	color: rgba(255, 255, 255, 0.4) !important;
}

.convert-form {
	min-width: 500px;
	z-index: 10;
	padding: 40px 40px 30px 40px;
	box-shadow: 0px 20px 40px 0px rgb(75, 90, 126, 0.14);
}

.convert-title {
	margin-bottom: 40px;
}

.convert-icon-container {
	margin: 15px 0;
}

.check-wallet-btn {
	margin-top: 30px !important;
}

.modal-btn {
	height: 40px !important;
	width: 120px !important;
	font-size: 0.75rem !important;
}

.account-table td {
	padding: 15px;
}

.hidden {
	visibility: hidden;
}

.loader {
	height: 100px;
	width: 100%;
}

.loader svg {
	height: 50px;
}

.address-preview {
	cursor: pointer;
	width: fit-content;
	border-radius: 3px;
	user-select: none;
}

.address-preview:active {
	background-color: #e7eff5;
}

.address-preview i {
	margin-right: 5px;
}

.Snackbar_snackbar-wrapper-bottom-center__21ghq {
	z-index: 1060 !important;
}

.error-msg {
	margin-top: 20px;
}

.wallet-modal .modal-body {
	min-height: 200px;
}

@media screen and (max-width: 992px) {
	.convert-form {
		min-width: 300px;
	}
}
